header{
  background-image: url('/images/pexels-photo-5989067.jpeg');
  height: 50vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 64px;
}
h1, h2{
  font-family: 'Germania One', cursive;
  color: #d341c7;
  text-align: center;
}
h2, h3{
  font-size: 36px;
}
h3{
  color: #B6BE9C;
  font-family: Calibri, sans-serif;
}
p{
  font-family: Calibri, sans-serif;
  color: #31081F;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}
a{
  color: #326273;
  text-decoration: none;
}
a:hover{
  color: #B6BE9C;
  text-decoration: none;
  font-weight: bold;
}
.body-container{
  max-width: 942px;
  margin: auto;
  padding: 20px;
}
li{
  display: inline;
  font-size: 20px;
  background-color: #31081F;
  color: white;
  border-radius: 10px;
  font-family: Calibri, sans-serif;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
}