body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
  max-width: 867px;
  margin: auto;
  padding-top: 53px;
}

header {
  display: flex;
  justify-content: space-between;
}

header span {
  padding-right: 30px;
}

header h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 157.9%;
  color: #035E50;
  margin-bottom: 5px;
  margin-top: 10px;
}

header img {
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}



h2 {
  margin-top: 50px;
}

h2,
h3 {
  font-size: 36px;
}

h3 {
  text-align: left;
}

p {
  font-weight: 400;
  font-size: 12px;
  line-height: 157.9%;
  margin: 5px 0;
}

a {
  color: #035E50;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

.tech {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 70px;
}

.tech h2 {
  font-weight: 700;
  font-size: 12px;
  margin-top: 0;
}

li {
  font-weight: 400;
  font-size: 12px;
}

.body-container h2 {
  font-weight: 700;
  font-size: 24px;
}

section {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

section:nth-child(odd) {
  flex-direction: row-reverse;
}

section h3 {
  font-weight: 400;
  font-size: 20px;
}

section img {
  height: auto;
  width: 25vw;
  object-fit: cover;
  margin-right: 20px;
}

section:nth-child(odd) img {
  margin-right: 0;
  margin-left: 20px;
}

.CTA {
  margin-top: 15px;
}

.CTA a {
  width: 68.43px;
  height: 30px;
  font-weight: 700;
  background: #035E50;
  border-radius: 16px;
  font-size: 12px;
  color: white;
  padding: 8px 15px;
  margin: 10px 10px 0 0;
}